.c-button {
  width: 270px;
  height: 44px;
  background: #31AE54;
  border-radius: 5px;
  transition: .4s;

    &:hover {
      transition: .4s;
    }

    &.theme-grey {
      background: #9E9E9E;

      &:hover {
        background: #7c7c7c;
      }
    }

    &.theme-green {
      background: #31AE54;

      &:hover {
      background: #208C32;
    }
  }
}

.c-button.theme-blood-green {
  &:hover {
    background: #208C32;
  }
}

.btn-text {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}