.c-auth {
  padding: 10px;
}

.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-logo {
  margin-bottom: 20px;
}

.auth-info {
  margin-bottom: 41px;
}

.auth-btn {
  margin-bottom: 60px;
}

.auth-info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6F6F6F;
}

.logo-icon {
  margin-left: 12px;
}
