.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.profile-name {
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: #262626;
}

.profile-avatar-img {
margin-right: 14px;
width: 44px;
height: 44px;
border: 0.5px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
}