.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &.size-medium {
    .profile-avatar-img {
      width: 72px;
      height: 72px;
    }

    .profile-name {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #262626;
    }
  }
}

.profile-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #262626;
}

.profile-avatar-img {
margin-right: 14px;
width: 44px;
height: 44px;
border: 0.5px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
}

.type {
  margin-top: 11px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #9E9E9E;
}
