.c-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  color: #262626;
}

.counter {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #9E9E9E;
}
