.date {
  display: flex;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 15px;
  }

.comments-item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}
