.stories {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-left: -188px;
  transition: .4s;
  transform: translateX(0)
}

.stories-container {
  height: 667px;
  position: relative;
}
